doctype html
html
  head
    title Lucas Leandro
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Description')
    meta(name='og:title', content='Lucas Leandro site')
    meta(name='og:url', content='https://lucasleandro1204.github.io')
    meta(name='og:image', content='build/images/background.jpg')
    meta(name='og:description', content='Site do Lucas Leandro')
    meta(name='og:site_name', content='Lucas Leandro')
    meta(name='og:type', content='website')
    link(href='https://lucasleandro1204.github.io', rel='canonical')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='../build/styles/style.min.css', rel='stylesheet')
  body
    block body
    script(src='../build/scripts/scripts.min.js')
