nav 
  ul
    li
      a(href="https://twitter.com/lucasleandro412" target="_blank")
        i.fa.fa-twitter(aria-hidden="true")
    li
      a(href="https://github.com/LucasLeandro1204" target="_blank")
        i.fa.fa-github(aria-hidden="true")
    li
      a(href="mailto:lucasleandro1204@gmail.com")
        i.fa.fa-envelope(aria-hidden="true")
  span ♥
