* {
  z-index: 2;
}

body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $background;
  color: $white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &::after {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: .7;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 0 15px;
}

.line {
  min-width: 280px;
  height: 1px;
  background-color: $white;
  margin: 15px 0;
  opacity: .3;
}
