nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 26px;
    margin: 0 15px;

    i {
      transition: .6s;
    }

    &:hover,
    &:focus {

      i {
        color: $yellow;
        transform: rotate(360deg) scale(1.2);
      }
    }
  }
}
