nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 26px;
    margin: 0 5px;

    i {
      padding: 5px 8px;
      border-radius: 3px;
      transition: .3s;

      &.fa-twitter {
        color: #1da1f2
      }

      &.fa-github {
        color: #24292e;
      }

      &.fa-envelope {
        color: #dc4835;
      }
    }

    &:hover,
    &:focus {
      i {
        color: #ffffff;

        &.fa-twitter {
          background-color: #1da1f2
        }

        &.fa-github {
           background-color: #24292e;
        }

        &.fa-envelope {
           background-color: #dc4835;
        }
      }
    }
  }
}
